<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utlis.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/buddycart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/buddycart"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuddyKartStore"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.Home.WebViewPage"
            android:exported="false" />

        <activity
            android:name=".ui.drawer_section.OrderDetail"
            android:exported="false" />
        <activity
            android:name=".ui.drawer_section.OrderPage"
            android:exported="false" />
        <activity
            android:name=".ui.drawer_section.MyWishlist"
            android:exported="false" />
        <activity
            android:name=".ui.drawer_section.AddAddresspage"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.drawer_section.AddressMain"
            android:exported="false" />
        <activity
            android:name=".ui.drawer_section.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ui.login.PasswordReset"
            android:exported="false" />
        <activity
            android:name=".ui.Home.Categorypage"
            android:exported="false" />
        <activity
            android:name=".ui.Home.ProductDetailPage"
            android:exported="false" />
        <activity
            android:name=".ui.Home.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Home.Search"
            android:exported="false" /> <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".ui.Home.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.MyApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main App Screens -->
        <activity
            android:name=".ui.Home.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.BuddyKartStore" />
        <activity
            android:name=".ui.login.SignIn"
            android:exported="false"
            android:theme="@style/Theme.BuddyKartStore" />
        <activity
            android:name=".ui.login.SignUp"
            android:exported="false"
            android:theme="@style/Theme.BuddyKartStore" />
        <activity
            android:name=".ui.drawer_section.Profile"
            android:exported="false"
            tools:ignore="MissingClass" />
    </application>

</manifest>